<!DOCTYPE html>
<html ng-app= "AWS-App">
<head>
	<title>AWS Assignment</title>
	<title>AWS Assignment</title>
	<script src="jquery-min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="angular.js"></script>
	<script src="app.js"></script>
  <script src="dashboard.controller.js"></script>
  <script src="dashboard.service.js"></script>
   <script src="dashboard.directive.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   
  <link href="signin.css" rel="stylesheet">
  
	<script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" style="font-family: 'Arvo';font-size: 22px;">Aws Assignment - image processing (DashBoard)</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
		<ul class = "nav navbar-nav navbar-right">
		 	<li><a href="index.html"><span class="glyphicon glyphicon-home"></span> <strong>Home</strong></a></li>
			<li><a href="login.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
        <div class = "alert alert-info alert-dismissible" > Please check you mail and subscribe it for notifications 
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
               <span aria-hidden="true">&times;</span>
              </button>
            </div> 
              
    </div>





  <div class = "row" ng-controller = "dashboardController as dashboardCtrl">
     <div class = container>
          <div>
  
            <div class = "alert alert-success alert-dismissible" ng-if = "dashboardCtrl.successMesg">  {{dashboardCtrl.successMesg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click = "dashboardCtrl.hello()">
               <span aria-hidden="true">&times;</span>
              </button>
            </div>  
            <div class = "alert alert-danger alert-dismissible" ng-if = "dashboardCtrl.errorMesg">  {{dashboardCtrl.errorMesg}}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
              </button>

            </div>
          </div>
          <div class="row">
              <div class="col-md-3">  
                <p>HELLLO</p>
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="dashboardCtrl.dashboardUser()">View Image</button>  
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="dashboardCtrl.upload()">Upload Image</button>  
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="dashboardCtrl.transform()">Transform Image</button>  

               </div> 
              <div class="col-md-2">
               <div class="upload">
                <input type = "file" file-model = "dashboardCtrl.myFile"/>
                </div>

               <div class = "Transform">
                  <label>Select transform Type</label>
                  <select ng-model="dashboardCtrl.selectedType" ng-options="x for x in dashboardCtrl.transformTypes"></select>   
                  <p>selected type is  {{dashboardCtrl.selectedType}}</p>
               </div>        
              </div>

              <div class="col-md-7">         
                <div class = gallery ng-if = "dashboardCtrl.viewMesg1" ng-repeat = "image in dashboardCtrl.Images" >
                   <a target="_blank" href={{image.imgLink}}>
                  <img src={{image.imgLink}} height="180px" width="240px"></a>
                  <br>
                   <button class="btn btn-md btn-primary btn-default" type="submit" ng-click="dashboardCtrl.dashboardAddImage(image.userimages.imgId)">Add Image</button>
                   <label ng-if = "dashboardCtrl.addMesg[$index]">Added</label>
                  <button class="btn btn-md btn-primary btn-default" type="submit" ng-click="dashboardCtrl.dashboardDeleteImage(image.userimages.imgId)">Delete Image</button>  

                </div>
              </div>              
          </div>

          <div class="row">
              <div class="col-md-3">
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="dashboardCtrl.viewTransform()">View Transformed Image</button> 
                
              </div>

              <div class="col-md-9">
                <div class = gallery ng-if = "dashboardCtrl.viewMesg" ng-repeat = "image in dashboardCtrl.ImagesTrans" >
                   <a target="_blank" href={{image.imgLink}}>
                  <img src={{image.imgLink}} height="180px" width="240px"></a>
                  <br>
                </div>
              </div>
          </div>
     
     </div>
  
   </div>


</body>
</html>